@page "/counter"

@using Microsoft.Extensions.Localization
@using PascalTraining.Client

@rendermode InteractiveAuto

@inject IStringLocalizer<SharedClientResource> Localizer

<PageTitle>@Localizer["Title"]</PageTitle>

<h1>@Localizer["Hello"]</h1>
<PageTitle>@Localizer["Counter"]</PageTitle>

<h1>@Localizer["Counter"]</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
